//@use '@primeng/themes/aura/theme' as *;
//@use 'primeng/resources/primeng' as *;
//@use 'primeicons/primeicons' as *;
//@use 'font-awesome/css/font-awesome' as *;

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0f0b0b;
  }

  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }