<div class="shop-container">

    <div class="shop-products-column">
        <h4 class="products-shop-title m-0">Proizvodi</h4>

        <!-- Search bar -->
        <div class="search-bar-inline-h custom-search">
            <i class="pi pi-search search-icon"></i>
            <input
                type="text"
                placeholder="Pretraži po šifri ili nazivu"
                [formControl]="searchControl"
                class="p-search-input"
                />
        </div>

        <!-- Card and ing -->
        <div *ngIf="proizvodi && proizvodi.length > 0" class="shop-product-list">
            <div *ngFor="let proizvod of proizvodi" class="shop-product-item">
                <p-card >
                    <ng-template pTemplate="header">
                        <img
                            *ngIf="proizvod.proizvodSlikaUrl"
                            [src]="proizvod.proizvodSlikaUrl"
                            alt="{{ proizvod.naziv }}"
                            class="shop-product-image"
                        />
                    </ng-template>

                    <!-- Card info -->
                    <div class="shop-product-details">
                        <h2>{{ proizvod.naziv }}</h2>
                        <div class="shop-product-info">
                            <p class="product-price">Cijena: <span>{{ proizvod.cijena }} €</span></p>
                            <p class="product-discount">Popust: <span>{{ proizvod.popust }} %</span></p>
                        </div>
                        <p class="product-code">Šifra: <span>{{ proizvod.sifra }}</span></p>
                    </div>

                    <!-- Button -->
                    <ng-template pTemplate="footer">
                        <p-button label="Dodaj u košaricu" icon="pi pi-shopping-cart"
                            (click)="addToCart(proizvod)">
                        </p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>

    <div class="shop-register-column">
        <app-shop-register [kosarica]="kosarica"></app-shop-register>
    </div>
</div>