<div class="shop-container">
    <div class="shop-products-column">
        <div class="search-bar-inline">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    type="text"
                    pInputText
                    placeholder="Pretraži po šifri proizvoda..."
                    [formControl]="searchControl"
                    class="p-inputtext-sm"
                />
            </span>
        </div>

        <div *ngIf="proizvodi && proizvodi.length > 0" class="shop-product-list">
            <div *ngFor="let proizvod of proizvodi" class="shop-product-item">
                <p-card >
                    <ng-template pTemplate="header">
                        <img
                            *ngIf="proizvod.proizvodSlikaUrl"
                            [src]="proizvod.proizvodSlikaUrl"
                            alt="{{ proizvod.naziv }}"
                            class="shop-product-image"
                        />
                    </ng-template>

                    <div class="shop-product-details">
                        <h2>{{ proizvod.naziv }}</h2>
                        <p>Cijena: {{ proizvod.cijena }} €</p>
                    </div>

                    <ng-template pTemplate="footer">
                        <p-button label="Dodaj u košaricu" icon="pi pi-shopping-cart"
                            (click)="addToCart(proizvod)">
                        </p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>

    <div class="shop-register-column">
        <app-shop-register [kosarica]="kosarica"></app-shop-register>
    </div>
</div>