form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  

    .login-card {
      width: 600px;
      max-width: 600px;
      padding: 2rem;
      margin-top: 20px; /* Povećaj ovu vrijednost prema potrebi */
      padding-top: 1px; /* Povećaj ovu vrijednost prema potrebi */
      font-size: 20px; /* Promjeni ovu vrijednost prema želji */
      
      .login-header {
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        text-align: center;
        font-weight: bold;
      }

      .field {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
  
        label {
          margin-bottom: 0.5rem;
          color: #ffffff;
        }
  
        input {
          padding: 0.75rem;
          font-size: 1rem;
        }
      }
  
      .full-button {
        width: 100%;
        margin-top: 1rem;
      }
  
      .register-link {
        margin-top: 40px;
        text-align: center;
        font-size: 0.9rem;
      }

      a {
        color: #1f57ac;
        font-weight: bold;
        text-decoration: none;
      }
    
      a:hover {
        text-decoration: underline;
      }
    }
  }

  ::ng-deep .p-button.custom-login-button  {
    background-color: #531dd3;
    color: white;
    border: none;
    height: 60px;
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  ::ng-deep .p-button.custom-login-button:hover {
    background-color: #b3bd2d;
  }

  ::ng-deep .p-card .p-card-header {
    font-size: 2rem !important;
    margin-bottom: -1rem !important; // razmak između naslova i ostatka sadržaja
    text-align: center; // ako želiš da naslov bude centriran
  }
