<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <p-card header="Prijava"  [style]="{width: '500px'}" class="login-card">
        <div class="field">
            <label for="email">Email</label> 
            <input type="text" pInputText formControlName="email" placeholder="Unesite svoj email"/>
            
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">

                <div *ngIf="email.errors?.['required']">Potrebno je upisati email </div>
                <div *ngIf="email.errors?.['email']">Nevazeci email </div>
            </small>
        </div>


        <div class="field">
            <label for="password">Sifra</label> 
            <input type="password" pInputText formControlName="password" class="w-full"  placeholder="Unesite sifru"/>

            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                <div *ngIf="password.errors?.['required']">Potrebno je upisati sifru </div>
            </small>
        </div>


        <p-button label="Prijavi se" styleClass="full-button custom-button" [disabled]="loginForm.invalid" type="submit"/>

        <div class="mt -2">
            Nemas racun? <a routerLink="/register">Registriraj se</a>
        </div>
    </p-card>
</form>



<!--  ' '  <div>  []  {}  || -->